BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "button[0]" SITE "L14" ;
LOCATE COMP "button[1]" SITE "M13" ;
LOCATE COMP "button[2]" SITE "M14" ;
LOCATE COMP "button[3]" SITE "N14" ;
LOCATE COMP "led" SITE "P9" ;
LOCATE COMP "rck" SITE "H3" ;
LOCATE COMP "sck" SITE "J2" ;
LOCATE COMP "data" SITE "G3" ;