BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "clock" SITE "C1" ;
LOCATE COMP "key1" SITE "M14" ;
LOCATE COMP "key2" SITE "N14" ;
LOCATE COMP "key3" SITE "M13" ;
LOCATE COMP "tMeasure_DQ" SITE "H12" ;
LOCATE COMP "sck" SITE "J2" ;
LOCATE COMP "rck" SITE "H3" ;
LOCATE COMP "data" SITE "G3" ;

LOCATE COMP "led1[0]" SITE "P2" ;
LOCATE COMP "led1[1]" SITE "N2" ;
LOCATE COMP "led1[2]" SITE "M2" ;

LOCATE COMP "led2[0]" SITE "P4" ;
LOCATE COMP "led2[1]" SITE "N3" ;
LOCATE COMP "led2[2]" SITE "M3" ;
FREQUENCY PORT "clock" 12 MHz;
